<div class="card bg-base-300 w-54 h-max shadow-xl">
    <div class="card-body">
        <h2 class="card-title">Card title!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
</div>


<button class="btn btn-sm btn-info">Info</button>
<button class="btn btn-sm btn-success">Success</button>
<button class="btn btn-sm btn-warning">Warning</button>
<button class="btn btn-sm btn-error">Error</button>

<button class="btn btn-sm btn-active btn-neutral">Neutral</button>

<button class="btn btn-sm btn-neutral btn-wide">Wide</button>

