/*** DaisyUI *****************************/
.hdt_dropdown-menu {
    justify-content: space-between;
    padding: 0 16px;
    border-color: #EBECED;
    border-color: transparent;
    /* border-color: #AEB1B5; */
    color: #AEB1B5;
}

label.required::after,
.label-text.required::after {
    content: " *";
    color: red;
}

.hdt-title {
    display: flex;
    height: max-content;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-noover,
.btn-noover:hover {
    border-color: transparent !important;
    background-color: transparent !important;
}

.card {
    position: unset !important;
}

.btn-hdt {
    height: 2.5rem;
    min-height: 2.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 0.875rem;
}

.input-hdt {
    height: 2.5rem;
    min-height: 2.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 0.875rem;
}

.divider-hdt {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

/*** Flatpickr *****************************/
div.flatpickr-innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.flatpickr-monthSelect-months {
    padding: 16px 8px;
    height: max-content;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 6px;
}

span.flatpickr-monthSelect-month {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 64px;
    border-radius: 100px;
}

span.flatpickr-monthSelect-month.today {
    border: 1px solid #959EA9;
}
span.flatpickr-monthSelect-month.today:hover {
    background-color: #959EA9;
    color: white;
}
span.flatpickr-monthSelect-month.selected {
    background-color: #569FF7;
    color: white;
}
span.flatpickr-monthSelect-month:hover {
    background-color: #E6E6E6;
}

/*** Icon input *************************************/
.input-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-icon-wrapper input {
    width: 100%;
    padding-right: 2.2rem;
}

.input-icon {
    cursor: initial;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
    pointer-events: none;
}

.input-icon-password {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
}
