body, html {
    /* overflow: hidden !important; */
    overscroll-behavior: none;
}

main {
    overflow: auto;
    height: 100%
}

/* .btn {
    border: none !important;
}

.btn-info {
    background-color: teal !important;
    border-color: teal !important;
} */