:root {
    --rounded-box: 0.5rem
}

body, html {
    overscroll-behavior: none;
}

main {
    overflow: auto;
    height: 100%
}

.btn-noover,
.btn-noover:hover {
    border-color: transparent !important;
    background-color: transparent !important;
}

.card {
    position: unset !important;
}
