{{!--
    Button

    Parameters:
    - label (string): Texte affiché dans le bouton.

    Usage:
        {{> _ui/button label="Valider" }}
--}}

<button class="btn btn-sm btn-neutral">
    {{label}}
</button>
